/node_modules
/public/*
!/public/favicon.ico
!/public/index.php
!/public/.htaccess
!/public/robots.txt
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
