@charset "utf-8";
@import "~@fortawesome/fontawesome-free/css/all.css";

$black: #0a0a0a;
$black-bis: #121212;
$black-ter: #32362f;
$grey-darker: #383b3a;
$grey-dark: #494b40;
$grey: #5f6256;
$grey-light: #a6a996;
$grey-lighter: #d1d6c1;
$grey-lightest: #ededed;
$white-ter: #f5f5f5;
$white-bis: #fafafa;
$white: #fff;
$orange: #e66738;
$yellow: #e4b527;
$slate-gray: #52786b;
$sea-green: #cadecb;
$sea-green-dark: #8c9a66;
$green: #61ae31;
$turquoise: #65aba1;
$cyan: #5a9cc1;
$blue: #356dab;
$purple: #b86bff;
$red: #c1442c;

$primary: $slate-gray;

@import "bulma/bulma";
@import "bulma-spacing";
@import "@creativebulma/bulma-tooltip";
@import "bulma-block-list";
